# Dependencias
node_modules/
frontend/node_modules/
backend/node_modules/

# Build
frontend/dist/
frontend/.astro/

# Strapi
backend/.tmp/
backend/build/
backend/exports/
backend/.env

# Frontend env
frontend/.env
frontend/.env.local

# Sistema
.DS_Store
*.log
.nvm/
.nvm/
.nvm/
